* {
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #293264;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
}

#root {
    background-color: #F5F7FB;
    width: 550px;
    min-height: 550px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 4em;
}

.starting-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
}

.yellow-blob {
    background-color: #FFFAD1;
    position: absolute;
    top: -180px;
    right: -150px;
    width: 300px;
    height: 300px;
    transform: rotate(125deg);
    border-radius: 35%;
}

.blue-blob {
    background-color: #DEEBF8;
    position: absolute;
    bottom: -150px;
    left: -130px;
    width: 300px;
    height: 300px;
    transform: rotate(90deg);
    border-radius: 45%;
}

.quizpage .yellow-blob {
    top: -220px;
    right: -200px;
}

.quizpage .blue-blob {
    bottom: -220px;
    left: -220px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0;
}

button {
    font-family: inherit;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-size: 1rem;
    padding: 0.75em 2.25em;
    border-radius: 15px;
    border: none;
    margin-top: 1em;
}

.question-block {
    padding-bottom: 1em;
    border-bottom: 0.5px solid #DBDEF0;
}

.question-block h2 {
    font-size: 1rem;

}

.question-block span {
    font-size: 0.8rem;
    padding: 3px 10px;
    margin-right: 10px;
    border-radius: 7px; 
    border: 1px solid #4D5B9E;
}

label {
    display: inline-block;
    font-size: 0.8rem;
    padding: 3px 10px;
    margin-right: 10px;
    border-radius: 7px; 
    border: 1px solid #4D5B9E;
    cursor: pointer;
    position: relative;
}

input[type="radio"] {
    /* opacity: 0;  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input[type="radio"]:checked + label {
    background-color: #D6DBF5;
}